body{
    background-color: antiquewhite;
}

#movies{
    background-color:rgb(252, 177, 221);
    box-shadow: 0 2px 2px 10px solid;
    border-radius: 20px;
    padding: 10px 20px;
    margin:10px 20px;
    width: 300px;
    
    
}

#series{
    background-color:rgb(252, 177, 221);
    box-shadow: 0 2px 2px 10px solid;
    border-radius: 20px;
    padding: 10px 20px;
    margin:10px 20px;
    width: 300px;
    
    
}

#container{
    display: flex;
}

#movie-input-box{
    background-color: bisque;
    border-radius: 5px;
}

#series-input-box{
    background-color: bisque;
    border-radius: 5px;
}

#movie-button{
    border-radius: 5px;
    background-color: aquamarine;
}

#series-button{
    border-radius: 5px;
    background-color: aquamarine;
}

.delete-btn{
    background-color: brown;
}

